.items-container{
  display: flex;
  flex-direction: row;
    .item{
      min-width: 34%;
    }
}
.example-viewport {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 100%;
}

 img {
 width: 100%;
}