@import '~@angular/material/theming';

mat-sidenav-container,mat-sidenav-content, mat-sidenav{
    height: 100;
}

mat-sidenav{
width: 250px;
}

main {
    padding: 10px;
}
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color:#6c777a ;
  
}
  .mat-toolbar
  { 
    background-color:#6c777a ;
  }
  a.router-link{
    text-decoration-color: white;

    color: white;
    margin: 0 10px;
    text-transform: uppercase;
  }

.home,
.posts,
.gallery,
.contact-us{
  padding: 20px !important;
}
.home{
  background: red;
}
.posts{
  background: green;
}
.gallery
{
  background: yellow;
}
.contact-us
{
  background: blue;
}
.active-link {
  text-decoration: revert;
}